/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 18px;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.dark-mode {
  position: absolute;
  right: 2.5%;
  top: 2.5%;
}
.dark-mode button {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.dark-mode button:hover {
  transform: scale(1.2);
}

.active {
  background: rgba(0, 0, 0, 0.75);
  color: black;
}

.white {
  color: white;
}

@media all and (min-width: 545px) {
  .expense-manager {
    display: flex;
    flex-direction: row;
  }
}
@media all and (max-width: 658px) {
  .expense-manager {
    font-size: 0.75em;
  }
}
@media all and (max-width: 1050px) {
  .expense-manager {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.expense-manager .income-expense-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expense-manager .income-expense-wrapper h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1em 0;
}
@media all and (min-width: 545px) {
  .expense-manager .income-expense-wrapper {
    width: 40%;
  }
}
.expense-manager .income-expense-wrapper .balance-display {
  font-size: 24px;
  font-weight: 500;
  margin: 1em 0;
}
.expense-manager .income-expense-wrapper .note {
  max-width: 260px;
  font-size: 0.7rem;
}
.expense-manager .income-expense-wrapper .note-span {
  font-weight: 700;
}
.expense-manager .income-expense-container {
  max-width: 320px;
  background-color: #fff;
  position: relative;
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  border-bottom-left-radius: 0.7em;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.75);
}
@media all and (min-width: 545px) {
  .expense-manager .income-expense-container {
    margin: 0 auto;
    width: 360px;
  }
}
.expense-manager .income-expense-toggle {
  display: flex;
}
.expense-manager .income-expense-toggle .btn-toggle {
  width: 50%;
  padding: 1em 0;
  border: none;
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  outline: none;
}
.expense-manager .income-expense-toggle .btn-toggle:nth-child(1) {
  border-bottom-right-radius: 0.7em;
}
.expense-manager .income-expense-toggle .btn-toggle:nth-child(2) {
  border-bottom-left-radius: 0.7em;
}
.expense-manager .income-form, .expense-manager .expense-form {
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.expense-manager .income-form .form-group, .expense-manager .expense-form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expense-manager .income-form label, .expense-manager .expense-form label {
  display: block;
  margin-top: 0.75em;
  font-weight: 500;
}
.expense-manager .income-form select, .expense-manager .income-form input, .expense-manager .expense-form select, .expense-manager .expense-form input {
  display: block;
  width: 220px;
  padding: 0.8em 0.5em;
  font-size: 16px;
  border-radius: 0.25em;
  border: none;
  background-color: #ebebeb;
  outline: none;
}
@media all and (min-width: 545px) {
  .expense-manager .income-form select, .expense-manager .income-form input, .expense-manager .expense-form select, .expense-manager .expense-form input {
    margin: 0 auto;
    width: 260px;
  }
}
@media all and (max-width: 658px) {
  .expense-manager .income-form select, .expense-manager .income-form input, .expense-manager .expense-form select, .expense-manager .expense-form input {
    font-size: 0.75em;
  }
}
.expense-manager .income-form .btn-income, .expense-manager .income-form .btn-expense, .expense-manager .expense-form .btn-income, .expense-manager .expense-form .btn-expense {
  padding: 0.75em 3.5rem;
  margin-top: 1.5em;
  border-radius: 0.3em;
  background-color: #ffc600;
  font-size: 0.85rem;
  border: none;
  font-weight: 700;
  margin-bottom: 1em;
  outline: none;
  transition: transform 0.5s;
}
.expense-manager .income-form .btn-income:hover, .expense-manager .income-form .btn-expense:hover, .expense-manager .expense-form .btn-income:hover, .expense-manager .expense-form .btn-expense:hover {
  transform: scale(1.1);
}
.expense-manager .income-form .button, .expense-manager .expense-form .button {
  display: flex;
  justify-content: center;
}
.expense-manager .summary-container {
  margin: 1.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (min-width: 545px) {
  .expense-manager .summary-container {
    width: 60%;
    font-size: 18px;
  }
}
@media all and (max-width: 658px) {
  .expense-manager .summary-container {
    font-size: 0.8em;
  }
}
.expense-manager .summary-container table {
  margin-bottom: 5.5em;
}
.expense-manager .summary-container table th, .expense-manager .summary-container table td {
  padding: 0.2em 1.75em;
  border: 1px solid white;
}
@media all and (max-width: 545px) {
  .expense-manager .summary-container table th, .expense-manager .summary-container table td {
    font-size: 8px;
  }
}
@media all and (max-width: 1050px) {
  .expense-manager .summary-container table th, .expense-manager .summary-container table td {
    font-size: 12px;
  }
}
@media all and (min-width: 1051px) {
  .expense-manager .summary-container table th, .expense-manager .summary-container table td {
    font-size: 15px;
  }
}
@media all and (max-width: 545px) {
  .expense-manager .summary-container table .income-date, .expense-manager .summary-container table .expense-date {
    font-size: 6px;
  }
}
@media all and (max-width: 768px) {
  .expense-manager .summary-container table .income-date, .expense-manager .summary-container table .expense-date {
    font-size: 10px;
  }
}
.expense-manager .summary-container table .income-delete:hover {
  transform: scale(1.15);
}
.expense-manager .summary-container table .expense-delete:hover {
  transform: scale(1.15);
}
.expense-manager .summary-container table input {
  width: 100%;
  height: 100%;
}
.expense-manager .summary-container table tbody {
  text-align: center;
}
.expense-manager .summary-container table caption {
  font-weight: 500;
}
.expense-manager .summary-container thead tr {
  background: #494848;
  color: white;
}
.expense-manager .summary-container tbody tr {
  background-color: wheat;
}

footer {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
